/* original author: Lucas Bebber on http://codepen.io/lbebber/pen/ypgql */

@keyframes noise-anim {
	0% { clip: rect(50px, 9999px, 82px, 0); }
	5% { clip: rect(11px, 9999px, 46px, 0); }
	10% { clip: rect(49px, 9999px, 26px, 0); }
	15% { clip: rect(11px, 9999px, 39px, 0); }
	20% { clip: rect(82px, 9999px, 67px, 0); }
	25% { clip: rect(18px, 9999px, 24px, 0); }
	30% { clip: rect(83px, 9999px, 26px, 0); }
	35% { clip: rect(81px, 9999px, 93px, 0); }
	40% { clip: rect(30px, 9999px, 92px, 0); }
	45% { clip: rect(49px, 9999px, 34px, 0); }
	50% { clip: rect(64px, 9999px, 95px, 0); }
	55% { clip: rect(58px, 9999px, 63px, 0); }
	60% { clip: rect(64px, 9999px, 24px, 0); }
	65% { clip: rect(47px, 9999px, 4px, 0); }
	70% { clip: rect(47px, 9999px, 11px, 0); }
	75% { clip: rect(79px, 9999px, 32px, 0); }
	80% { clip: rect(2px, 9999px, 76px, 0); }
	85% { clip: rect(70px, 9999px, 71px, 0); }
	90% { clip: rect(86px, 9999px, 23px, 0); }
	95% { clip: rect(50px, 9999px, 13px, 0); }
	100% { clip: rect(63px, 9999px, 35px, 0); }
}

@-webkit-keyframes noise-anim {
	0% { clip: rect(50px, 9999px, 82px, 0); }
	5% { clip: rect(11px, 9999px, 46px, 0); }
	10% { clip: rect(49px, 9999px, 26px, 0); }
	15% { clip: rect(11px, 9999px, 39px, 0); }
	20% { clip: rect(82px, 9999px, 67px, 0); }
	25% { clip: rect(18px, 9999px, 24px, 0); }
	30% { clip: rect(83px, 9999px, 26px, 0); }
	35% { clip: rect(81px, 9999px, 93px, 0); }
	40% { clip: rect(30px, 9999px, 92px, 0); }
	45% { clip: rect(49px, 9999px, 34px, 0); }
	50% { clip: rect(64px, 9999px, 95px, 0); }
	55% { clip: rect(58px, 9999px, 63px, 0); }
	60% { clip: rect(64px, 9999px, 24px, 0); }
	65% { clip: rect(47px, 9999px, 4px, 0); }
	70% { clip: rect(47px, 9999px, 11px, 0); }
	75% { clip: rect(79px, 9999px, 32px, 0); }
	80% { clip: rect(2px, 9999px, 76px, 0); }
	85% { clip: rect(70px, 9999px, 71px, 0); }
	90% { clip: rect(86px, 9999px, 23px, 0); }
	95% { clip: rect(50px, 9999px, 13px, 0); }
	100% { clip: rect(63px, 9999px, 35px, 0); }
}

.glitch:after {
	content: attr(data-text);
	position: absolute;
	display: inline-block;
	left: 0px;
	text-shadow: -1px 0 red;
	top: 0;
	background: transparent;
	overflow: hidden;
	clip: rect(0, 900px, 0, 0);
	animation: noise-anim 2s infinite linear alternate-reverse;
	-webkit-animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
	0% { clip: rect(33px, 9999px, 93px, 0); }
	5% { clip: rect(20px, 9999px, 7px, 0); }
	10% { clip: rect(59px, 9999px, 12px, 0); }
	15% { clip: rect(13px, 9999px, 98px, 0); }
	20% { clip: rect(46px, 9999px, 1px, 0); }
	25% { clip: rect(99px, 9999px, 60px, 0); }
	30% { clip: rect(62px, 9999px, 11px, 0); }
	35% { clip: rect(88px, 9999px, 46px, 0); }
	40% { clip: rect(68px, 9999px, 31px, 0); }
	45% { clip: rect(5px, 9999px, 78px, 0); }
	50% { clip: rect(86px, 9999px, 86px, 0); }
	55% { clip: rect(88px, 9999px, 68px, 0); }
	60% { clip: rect(8px, 9999px, 43px, 0); }
	65% { clip: rect(76px, 9999px, 17px, 0); }
	70% { clip: rect(95px, 9999px, 44px, 0); }
	75% { clip: rect(54px, 9999px, 64px, 0); }
	80% { clip: rect(26px, 9999px, 49px, 0); }
	85% { clip: rect(13px, 9999px, 89px, 0); }
	90% { clip: rect(32px, 9999px, 80px, 0); }
	95% { clip: rect(68px, 9999px, 84px, 0); }
	100% { clip: rect(30px, 9999px, 44px, 0); }
}

@-webkit-keyframes noise-anim-2 {
	0% { clip: rect(33px, 9999px, 93px, 0); }
	5% { clip: rect(20px, 9999px, 7px, 0); }
	10% { clip: rect(59px, 9999px, 12px, 0); }
	15% { clip: rect(13px, 9999px, 98px, 0); }
	20% { clip: rect(46px, 9999px, 1px, 0); }
	25% { clip: rect(99px, 9999px, 60px, 0); }
	30% { clip: rect(62px, 9999px, 11px, 0); }
	35% { clip: rect(88px, 9999px, 46px, 0); }
	40% { clip: rect(68px, 9999px, 31px, 0); }
	45% { clip: rect(5px, 9999px, 78px, 0); }
	50% { clip: rect(86px, 9999px, 86px, 0); }
	55% { clip: rect(88px, 9999px, 68px, 0); }
	60% { clip: rect(8px, 9999px, 43px, 0); }
	65% { clip: rect(76px, 9999px, 17px, 0); }
	70% { clip: rect(95px, 9999px, 44px, 0); }
	75% { clip: rect(54px, 9999px, 64px, 0); }
	80% { clip: rect(26px, 9999px, 49px, 0); }
	85% { clip: rect(13px, 9999px, 89px, 0); }
	90% { clip: rect(32px, 9999px, 80px, 0); }
	95% { clip: rect(68px, 9999px, 84px, 0); }
	100% { clip: rect(30px, 9999px, 44px, 0); }
}

.glitch:before {
	content: attr(data-text);
	position: absolute;
	display: inline-block;
	left: -2px;
	text-shadow: 1px 0 blue;
	top: 0;
	background: transparent;
	overflow: hidden;
	clip: rect(0, 900px, 0, 0);
	animation: noise-anim-2 3s infinite linear alternate-reverse;
	-webkit-animation: noise-anim-2 3s infinite linear alternate-reverse;
}
